.alert{
background-color: rgb(235, 252, 219);
}
.h2{
text-align: center;
}
.container3{
padding: 10px;
}
.row1{
width: 100%; 
height: 20%;

}
.d-block-w-100{
    width: 200px;
}
.carousel-control-next, .carousel-control-prev{
    opacity: 0;
    }

.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover{
    color: #040404;
    
    text-decoration: none;
    
    outline: 0;
    
    opacity: 0;
    
    }